@tailwind base;
@tailwind components;
@tailwind utilities;

/* *,
*::before,
*::after {
  box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.app {
    display: block;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid black;
    align-items: center;
}

.logo{
    width: 175px;
    cursor: pointer;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
    font-size: 24px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.nav-items > ul > li:hover{
    color: white;
    background-color: #4CAF50;
    border-radius: 10px;
}

.nav-items > ul > li > a:hover{
    color: white;
}

.login{
    padding: 5px 35px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.body{
    padding: 20px;
    margin: 0px calc(10% + 36px);
}

.search{
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.restraunt-container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.restraunt-card{
    width: 248px;
    padding: 5px;
    border-radius: 10px;
    background-color: lightgray;
}

.restraunt-card:hover{
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.restraunt-logo{
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.filter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search{
    display: flex;
    gap: 4px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
}

.search-box{
    width: 77%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
}

.btn{
    padding: 10px;
    border: none;
    background-color: blue;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.shimmer-btn{
    padding: 10px;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.shimmer-card{
    width: 248px;
    height: 350px;
    padding: 5px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.menu{
    padding: 20px;
    margin: 0px calc(10% + 36px);
}

.item-list{
    list-style: none;
}

.user-card{
    width: 300px;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.users-container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.user-card > img {
    width: 100%;
} */